{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Sandwiches Page" %}
{% set active_page = "sandwiches" %}

{% block content %}

    <h1>Sandwiches</h1>

    <p class="lead">This is the sandwiches page</p>

    {% if sandwiches|length > 0 %}

        <!--div class="container"-->
        <ol>
            {% for sandwich in sandwiches %}
                <li>{{ sandwich.title }} | {{ sandwich.author }}</li>
            {% endfor %}
        </ol>
        <!--/div-->

    {% else %}

        <p>Oops, no sandwiches found.</p>

    {% endif %}

{% endblock %}